.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500vh; /* Adjust as needed */
}

.roundContainer {
    height: 100px;
    width: 100px;
    border-radius: 20px;
    background-color: rgb(230, 22, 22);
    text-align: center;
    
}

.Score {
    height: 100px;
    width: 100px;
    border-radius: 20px;
    background-color: rgb(58, 47, 47);
    text-align: center;
}

.buttonContainer {
    margin-top: 20px;
}

.button {
    margin-left: 20px;
}
p{      
    font-weight: 900;
}